.no-js .du-resp-img.lazyload {
    display: none;
}

.du-resp-img-ratio-wrapper {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 0;

    &.du-ratio-none {
        height: auto;
        .du-resp-img {

        }
    }

    .du-resp-img {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        margin: auto;
        margin-top: -100%;
        padding-top: 50%;
    }

    &.du-ratio-none {
        height: auto;
        .du-resp-img {
            position: static;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
        }
    }
}